:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
    --merah: rgb(160, 46, 46);
    --bgc: #f0efef;
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 2000px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

nav {
    position: fixed;
    bottom: 10%;
    width: 456px;
    height: 50px;
    background-color: var(--pink);
    left: 50%;
    margin-left: -228px;
    padding: 0 2em;
    border-radius: 40px;
    box-shadow: rgb(50 50 93 / 25%) 0 50px 100 -20px,
                    rgb(0 0 0 / 30%) 0 30px 60px -30px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/wedding.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.home {
    position: relative;
    min-height: 100vh;
}

.home h1, .home h4, .home p {
    text-shadow: var(--shadow);
}

.home h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

.home h4 {
    font-size: 1.6rem;
}

.home p {
    font-size: 1.4rem;
}

.home a {
    color: var(--pink);
    background-color: white;
    box-shadow: var(--shadow);
}

.home a:hover {
    background-color: var(--pink);
    color: white;
}

/* .mynavbar {
    background-color: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(2px);

}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
    font-family: 'Sacramento', cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    /* font-weight: 600; */
    /* text-transform: uppercase;
} */ */

.home {
    background-image: url(img/bg.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.countdown {
    padding: 10rem;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    font-weight: 400;
    font-family: 'Quicksand';
    background: #f0efef;
}

.profile {
    background: #f0efef;
}

.profile h2,
.story h2,
.gallery h2,
.rsvp h2 {
    color: var(--pink);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
}
.profile .img-{
    justify-content: center;
}
.profile .couple .img{
    width: 350px;
}
.profile h3 {
    font-family: 'Roboto';
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.profile p {
    font-size: 1.1rem;
    color: #666
}

.profile .couple {
    margin-top: 100px;
}

.profile .couple h2 {
    font-family: 'Satisfy';
    font-size: 3.4rem;
    color: black;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.profile .couple h4 {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-weight: 400;
}

.profile .couple p {
    text-align: center;
}
.profile .couple img {
    width: 100%;
}

.profile .couple .img .img-bg{
    border: white solid 10px; 
    outline: 5px solid var(--pink);
}

.profile .couple .img p a {
    text-decoration: none;
    color: #acabab;
    font-size: 25px;
}

.profile .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}
.profile .heart i {
    margin: auto;
    color: var(--pink);
}

.info {
    background-color: #f0efef;
    color: rgb(0, 0, 0);
    padding-top: 1rem;
    padding-bottom: 8rem;
}

.info .acara{
    width: 300px;
}

.info h2 {
    color: var(--pink);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.info .alamat {
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info .card {
    background-color: rgb(247, 247, 247)!important;
    color: #000000 !important;
    /* border: 0.5px solid #999; */
}

.info .card-header {
    background: rgb(247, 247, 247);
    color: black;
    /* border-bottom: 0.5px solid #999; */
    /* text-transform: uppercase; */
    letter-spacing: 0.1rem;
    padding-bottom: 10px;
}

.info .card-header h3 {
    font-family: 'Playfair Display';
    padding: 20px;
}

.info .card-header span {
    font-size: 15px;
    color: var(--merah);
}
/* 
.info .card-body {
    font-size: 1rem;
}

.info .card-footer {
    background: rgb(247, 247, 247);
    border-top: 1px solid #999;
    font-size: 0.9rem;
    font-weight: 300;
} */

.story{
    background: var(--bgc);
}
.rsvp,
.gifts {
    padding-top: 10rem;
    padding-bottom: 20rem;
}

.story span, 
.gallery span,
.gifts{
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.story p, 
.gallery p,
.rsvp p {
    font-size: 1rem;
    font-weight: 300;
}

.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}

.timeline li {
    margin-bottom: 1.5rem;
    position: relative;

}

.timeline li:before,
.timeline li::after {
    content: '';
    display: table;
}

.timeline li::after{
    clear: both;
}

.timeline li .timeline-img {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 43%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
}

.timeline li .timeline-panel::before{
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    top: 80px;
    right: -15px;
}

.timeline li .timeline-panel::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    top: 81px;
    right: -13px;
}

.timeline li.timeline-kebalikan .timeline-panel{
    float: right;
}

.timeline li.timeline-kebalikan .timeline-panel::before{
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}
.timeline li.timeline-kebalikan .timeline-panel::after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}

.gallery {
    background-color: #f5f5f5;
    padding-top: 8rem;
    padding-bottom: 20rem;
}

.rsvp {
}

.rsvp h2 {
    font-size: 4.5rem;
}

.rsvp p{
    color: rgb(0, 0, 0);
}


.rsvp form label {
    color: rgb(0, 0, 0);
}

.rsvp button {
    background-color: var(--pink);
    color: #fff;
    border: 1px solid var(--pink);
}

.rsvp button:hover {
    background-color: white;
    color: var(--pink);
    border: 1px solid white;
}

.gifts h2{
    font-family: 'Lobster';
    font-size: 4rem;
    color: var(--pink);
} 

.scroll-bar {
    background: #ffffff;
    margin: 10px;
    /* margin-left: 15%; */
    padding: 10px;
    justify-content: center;
    border: 1px solid #ffffff;
    overflow: auto;
    width: 500px;
    height: 200px;
}

.scroll-bar .komen-img{
    width: 60px;
    height: auto;
    border-radius: 50%;
    padding: 8px;
}

.scroll-bar .komen-area{
    width: 600px !important;
    margin: 10px;
    background: #eaeaea;
}

.scroll-bar .komen-area span {
    background-color: #ff0e7650;
    padding: 3px;
    margin-left: 10px;
    border-radius: 8px;
    color: #ffffff;
}

.scroll-bar .komen-area p {

    margin-left: 10px;
    padding-bottom: 10px;

}



/* 
.scroll-bar {
    background: #ffffff;
    margin: 10px;
    margin-left: 15%;
    padding: 10px;
    justify-content: center;
    border: 1px solid #a09e9e;
    overflow: auto;
    width: 500px;
    height: 200px;
}

.scroll-bar .card {
    background: #eaeaea;
}

.scroll-bar .s-comment {
    justify-content: center;
    font-size: 12px;
    padding-left: 90px;
} */
footer {
    padding: 2.2rem;
    background-color: rgb(11, 71, 121);
    color: white;
    border-top: 2px solid #666;
}

footer a {
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer li {
    list-style: none;
    display: inline;
    margin: 0.5rem;
}


/* media query */
/* Extra large */


@media (max-width: 1200px) {
    .profile .heart{
        transform: translateX(-50%) translateY(45px);
    }
}

/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
    .simply-countdown > .simply-section {
        padding: 70px;
        
    }
    .home .heart{
        display: none;
    }
.timeline::before{
    left: 60px;
}

.timeline li .timeline-img{
    left: 15px;
    margin-left: 45px;
    top: 16px;
}

.timeline li .timeline-panel {
    width: calc((100%-200px));
    float: right;
}
.timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;

}
.timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;

}

.scroll-bar .komen-img{
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.scroll-bar .komen{
    margin-left: 5px;
}

.scroll-bar .komen-area{
    width: 420px !important;
    padding-left: 2px;

}
.scroll-bar .komen-area span {
    background-color: #ff0e7650;
    padding: 3px;
    margin-left: 10px;
    border-radius: 8px;
    color: #ffffff;
}

.scroll-bar .komen-area p {

    margin-left: 10px;
    padding-bottom: 10px;

}

}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown > .simply-section {
        padding: 60px;
        margin: 5px;
    }
    
.mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
}

.sticky-top {
    overflow: hidden;
}

.timeline li .timeline-img {
    width: 140px;
    height: 140px;
}

.scroll-bar .komen-img{
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.scroll-bar .komen{
    margin-left: 10px;
}

.scroll-bar .komen-area{
    width: 350px !important;
    padding-left: 2px;

}
.scroll-bar .komen-area span {
    background-color: #ff0e7650;
    padding: 3px;
    margin-left: 10px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1rem;

}

.scroll-bar .komen-area p {

    margin-left: 10px;
    padding-bottom: 10px;

}

}

/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 40%;
    }
    .simply-countdown > .simply-section {
        padding: 30px;
        margin: 3px;
       
    }
    
    
.timeline li .timeline-img {
    width: 80px;
    height: 80px;
}

.timeline li .timeline-panel{
    width: 70%;
    transform: rotateX(-20px);
}

.timeline li .timeline-panel::before {
    top: 30px;
    
}
.timeline li .timeline-panel::after {
    top: 31px;
}
}
